@use "variaveis";
@use "hero";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: variaveis.$corDeFundo;
}

@mixin Text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin Title($fontSize: 40px) {
    @include Text($fontSize);
    color:variaveis.$corTextoSecundario;
}

.text {
    @include Text;
}

.link-text {
    @include Text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.text--small {
    @include Text(12px);
}

.text--big {
    @include Text(18px);
}

.title {
    @include Title;
}

.title--small {
    @include Title(28px);
}

.title--big {
    @include Title(44px);
}
